/*
  Color
*/
$error-color: #F53240;
$gold-color: #E6DAB8;
$cyan-color: #00C4C1;
$white-color: #FFFFFF;
$yellow-color: #FDDE12;
$red-color: #E22A37;
$light-grey-color: #F3F3F4;
$success-color: #10B245;
$disabled-color: #DEDEDF;
$red-text-color: #B13530;
$grey-color: #9A9AAC;
$black-color: #2E2E38;

/*
  Text
*/
.text-error {color: $error-color;}
.text-gold {color: $gold-color;}
.text-cyan {color: $cyan-color;}
.text-white {color: $white-color;}
.text-yellow {color: $yellow-color;}
.text-red {color: $red-color;}
.text-light-grey {color: $light-grey-color;}
.text-success {color: $success-color;}
.text-disabled {color: $disabled-color;}
.text-red-text {color: $red-text-color;}
.text-grey {color: $grey-color;}
.text-black {color: $black-color;}

.ant-btn-danger {
  background-color: $error-color;
  color: $white-color;
}
.ant-btn-link {
  background-color: unset;
  color: $grey-color;
}

.font-10 {font-size: 10px;}
.font-12 {font-size: 12px;}
.font-14 {font-size: 14px;}
.font-16 {font-size: 16px;}
.font-18 {font-size: 18px;}
.font-20 {font-size: 20px;}
.font-20 {font-size: 20px;}
.font-24 {font-size: 24px;}
.font-28 {font-size: 28px;}
.font-30 {font-size: 30px;}

/*
  Padding
*/
.p-0 {padding: 0px !important;}
.pt-0 {padding-top: 0px !important;}
.pb-0 {padding-bottom: 0px !important;}
.pl-0 {padding-left: 0px !important;}
.pr-0 {padding-right: 0px !important;}

.p-5 {padding: 5px !important;}
.pt-5 {padding-top: 5px !important;}
.pb-5 {padding-bottom: 5px !important;}
.pl-5 {padding-left: 5px !important;}
.pr-5 {padding-right: 5px !important;}

.p-10 {padding: 10px !important;}
.pt-10 {padding-top: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pl-10 {padding-left: 10px !important;}
.pr-10 {padding-right: 10px !important;}

.p-13 {padding: 13x !important;}
.pt-13 {padding-top: 13px !important;}
.pb-13 {padding-bottom: 13px !important;}
.pl-13 {padding-left: 13px !important;}
.pr-13 {padding-right: 13px !important;}

.p-16 {padding: 16x !important;}
.pt-16 {padding-top: 16px !important;}
.pb-16 {padding-bottom: 16px !important;}
.pl-16 {padding-left: 16px !important;}
.pr-16 {padding-right: 16px !important;}

.p-20 {padding: 20px !important;}
.pt-20 {padding-top: 20px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pl-20 {padding-left: 20px !important;}
.pr-20 {padding-right: 20px !important;}

/*
  Margin
*/
.m-0 {margin: 0px !important;}
.mt-0 {margin-top: 0px !important;}
.mb-0 {margin-bottom: 0px !important;}
.ml-0 {margin-left: 0px !important;}
.mr-0 {margin-right: 0px !important;}

.m-5 {margin: 5px !important;}
.mt-5 {margin-top: 5px !important;}
.mb-5 {margin-bottom: 5px !important;}
.ml-5 {margin-left: 5px !important;}
.mr-5 {margin-right: 5px !important;}

.m-10 {margin: 10px !important;}
.mt-10 {margin-top: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.ml-10 {margin-left: 10px !important;}
.mr-10 {margin-right: 10px !important;}

.m-13 {margin: 13px !important;}
.mt-13 {margin-top: 13px !important;}
.mb-13 {margin-bottom: 13px !important;}
.ml-13 {margin-left: 13px !important;}
.mr-13 {margin-right: 13px !important;}

.m-16 {margin: 16px !important;}
.mt-16 {margin-top: 16px !important;}
.mb-16 {margin-bottom: 16px !important;}
.ml-16 {margin-left: 16px !important;}
.mr-16 {margin-right: 16px !important;}

.m-20 {margin: 20px !important;}
.mt-20 {margin-top: 20px !important;}
.mb-20 {margin-bottom: 20px !important;}
.ml-20 {margin-left: 20px !important;}
.mr-20 {margin-right: 20px !important;}