@import './helper';

body {
  main {margin: 0;}
}
.container {
  header {
    height: auto;
    background-color: #ffffff;
    text-align: center;
    H3 {
      margin: 0;
      padding: 10px 0;
      font-weight: 500;
      color: #000000;
    }
  }
  content {
    background-color: #f8f4f3;
    display: block;
  }
}

.row {
  margin: 0 -20px;
  display: flex;
  flex-flow: row wrap;
  &.space-between {
    justify-content: space-between;
    margin: 0;
    .pwa-col-6 {
      display: block;
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
}
.pwa-col-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.pwa-card {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  img {
    width: 100%;
  }
}

.app-address {
  h3 {
    font-weight: 500;
    margin: 0 0 10px;
  }
  p {
    margin: 0;
  }
}
.pwa-content-box {
  max-width: 765px;
  margin: 0 auto;
  padding: 20px;
}

.price-red {
  color: #bd2d28;
  font-weight: 600;
}